.comments-carousel {
  background-color: #dbeee8;
  color: #4b7c9c;
  text-align: center;
  height: 400px;
  padding-top: 50px;
}

.comments-carousel h1 {
  font-family: "Red Hat Text", sans-serif;
  font-size: 3em;
}
.comments-carousel h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.35em;
  color: #4b7c9c;
}

.comments-carousel p {
  line-height: 1.75;
  font-size: 1.35em;
  color: #4b7c9c;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 660px) {
  .comments-carousel h1 {
    font-size: 1.75em;
  }

  .comments-carousel p {
    font-size: 1em;
  }
}
