.comments-carousel {
  background-color: #dbeee8;
  color: #4b7c9c;
  text-align: center;
  height: 400px;
  padding-top: 50px;
}

.comments-carousel h1 {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  font-size: 2.5em;
}

.comments-carousel p {
  line-height: 1.5;
  font-size: 1.15em;
  color: #4b7c9c;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 1024px) and (min-width: 661px) {
  .comments-carousel p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 660px) {
  .comments-carousel h1 {
    font-size: 1.75em;
  }

  .comments-carousel p {
    font-size: 0.6em;
  }
}
