.welcome {
  height: 45vh;
  background-image: url("../../../images/hero_0.0.jpg");

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-top: 100px;
  width: 100%;
}

.welcome-greeting {
  font-family: "Red Hat Text", sans-serif;
  font-size: 5vw;
}

.welcome-greeting h1 {
  margin-left: 10%;
}

.welcome-greeting span:nth-child(1) {
  color: #4b7c9c;
}

.welcome-greeting span:nth-child(3) {
  color: #1fb0c8;
}

.welcome-greeting span:nth-child(5) {
  color: #cf5695;
}

.appointment-btn {
  color: white;
  background: #1fb0c8;
  border: none;
  height: 50px;
  width: 260px;
  margin: 90px 0px 0px 120px;
  cursor: pointer;
}

.services-container {
  background-color: #69b0bc;
  font-family: "Red Hat Text", sans-serif;
  color: white;
  width: 100%;
  margin: 0;
}

.services-container h1 {
  margin-top: 0px;
  padding-top: 40px;
  text-align: center;
  font-size: 2em;
}

.services-title {
  margin: 0 10% 5% 10%;
  text-align: center;
}

.services-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.services-item {
  /* background: pink; */
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 30%;
}

@media only screen and (max-width: 660px) {
  .services-item {
    width: 80%;
    margin-top: 10px;
  }
}

.services-item img {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  max-width: 100px;
}
.services-copy {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  margin-left: 10px;
  word-wrap: break-word;
}

.services-copy h3 {
  margin: 0;
}

.services-btn {
  text-align: center;
}
.services-btn-btn {
  background: #cf5695;
  border: none;
  color: white;
  height: 50px;
  width: 260px;
  cursor: pointer;
  margin-bottom: 10px;
}

.intro-bio {
  background: #4b7c9c;
  color: white;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
}

.intro-bio button {
  background: #69b0bc;
  border: none;
  color: white;
  height: 75px;
  width: 270px;
  cursor: pointer;
}

.comments-carousel {
  background-color: #dbeee8;
  color: #4b7c9c;
  text-align: center;
  height: 500px;
}

.comments-carousel h1 {
  line-height: 100px;
}
