.welcome-container {
  height: 65vh;
  background-image: url("../../../images/hero_0.0.jpg");

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;

  padding-top: 1%;
  width: 100%;
  height: auto;
}

.welcome-greeting {
  font-family: "Red Hat Display", sans-serif;
  font-size: 5em;
  line-height: 1.2em;
  margin-top: 10px;
}

@media only screen and (max-width: 660px) {
  .welcome-greeting {
    font-size: 2.5em;
    margin-top: 100px;
  }
}

.welcome-greeting h1 {
  margin-left: 10%;
}

.welcome-greeting span:nth-child(1) {
  color: #4b7c9c;
}

.welcome-greeting span:nth-child(3) {
  color: #1fb0c8;
}

.welcome-greeting span:nth-child(5) {
  color: #cf5695;
}

.welcome-appt-btn {
  font-family: "Montserrat", sans-serif;
  color: white;
  background: #1fb0c8;
  border: none;
  height: 50px;
  width: 260px;
  margin-left: 10%;
  margin-bottom: 10%;
  cursor: pointer;
}

.welcome-appt-btn:hover {
  background-color: #dddddd;
}

@media only screen and (max-width: 660px) {
  .welcome-appt-btn {
    height: 25px;
    width: 130px;
    font-size: 0.1em;
  }
}

.services-container {
  background-color: #69b0bc;
  font-family: "Red Hat Text", sans-serif;
  color: white;
  width: 100%;
  margin: 0;
  text-align: center;
}

.services-container h1 {
  margin-top: 0px;
  padding-top: 40px;
  text-align: center;
  font-size: 2em;
}

.services-title {
  margin: 0 20% 5% 20%;
  text-align: center;
}

.services-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.services-item {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 30%;
  border-style: none;
  padding: 5px;
}

@media only screen and (max-width: 660px) {
  .services-item {
    width: 80%;
    margin-top: 10px;
  }
}

.services-item img {
  display: inline-block;
  vertical-align: top;
  max-width: 50px;
}
.services-text {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 60%;
  margin-left: 10px;
  word-wrap: break-word;
}

.services-text h3 {
  margin: 0;
}

.services-container button {
  background: #cf5695;
  border: none;
  color: white;
  height: 50px;
  width: 260px;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 10%;
}

@media only screen and (max-width: 660px) {
  .services-container button {
    height: 25px;
    width: 130px;
  }
}

.intro-bio {
  background: #4b7c9c;
  color: white;
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (max-width: 970px) {
  .intro-bio {
    flex-direction: column;
  }
}
.img-container {
  display: block;
  width: 800px;
  max-width: 100%;
  flex: 1;
}

.intro-bio img {
  max-width: 100%;
}
.intro-bio-text {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  text-align: center;
  word-wrap: break-word;
  padding: 2%;
  flex: 1;
}
.intro-bio button {
  background: #69b0bc;
  border: none;
  color: white;
  height: 50px;
  width: 260px;
  cursor: pointer;
}

@media only screen and (max-width: 660px) {
  .intro-bio button {
    height: 25px;
    width: 130px;
  }
}

.comments-carousel {
  background-color: #dbeee8;
  color: #4b7c9c;
  text-align: center;
  height: 500px;
}

.comments-carousel h1 {
  line-height: 100px;
  margin: 0;
}
