.services-pg-header {
  height: 65vh;
  background-image: url("../../../images/hero_2.0.jpg");

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;

  padding-top: 1%;
  width: 100%;
  height: 380px;
}

@media only screen and (max-width: 660px) {
  .services-pg-header {
    height: 20vh;
  }
}

.services-pg-header-txt h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 6em;
  font-weight: 400;
  line-height: 0.8em;
  margin-top: 100px;
  margin-left: 5%;
}

@media only screen and (max-width: 1024px) and (min-width: 661px) {
  .services-pg-header-txt h1 {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 660px) {
  .services-pg-header-txt h1 {
    font-size: 1.75em;
    margin-top: 50px;
  }
}
.services-pg-header span:nth-child(1) {
  color: #4b7c9c;
}

.services-pg-header span:nth-child(3) {
  color: #1fb0c8;
}
.our-services-container {
  background-color: white;
  color: #4b7c9c;
  width: 100%;
  margin: 0;
}

.services-title {
  margin: 0 10% 0 5%;
  padding-top: 5%;
  text-align: center;
}

.services-title h1 {
  font-family: "Red Hat Display", sans-serif;
  margin-top: 0px;
  font-size: 3em;
  font-weight: 400;
  line-height: 1.75em;
}

.services-title p {
  font-size: 1.35em;
}
@media only screen and (max-width: 660px) {
  .services-title {
    margin: 0 10% 5% 10%;
  }

  .services-title h1 {
    font-size: 1.75em;
  }

  .services-title p {
    font-size: 1em;
  }
}

.services-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.services-col {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30%;
  border-style: none;
  padding-bottom: 5%;
  text-align: left;
}

.services-header {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.services-header img {
  max-width: 50px;
  height: 80px;
}

.services-text h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  padding-top: 30px;
  padding-left: 10px;
}

.services-text {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 80%;
  word-wrap: break-word;
}

.services-text p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.75em;
  font-size: 1.35em;
}

@media only screen and (max-width: 660px) {
  .services-col {
    width: 100%;
  }

  .services-header h2 {
    font-size: 1.3em;
    padding-top: 5px;
  }

  .services-text p {
    font-size: 1em;
  }

  .services-col img {
    height: 40px;
  }

  .services-text {
    width: 80%;
  }
}

.services-container button {
  font-family: "Montserrat", sans-serif;
  background: #cf5695;
  border: none;
  color: white;
  font-size: 1.35em;
  height: 80px;
  width: 300px;
  cursor: pointer;
  margin-bottom: 5%;
}

.services-container button:hover {
  background-color: #b1467e;
}

@media only screen and (max-width: 660px) {
  .services-container button {
    height: 30px;
    width: 180px;
    font-size: 0.8em;
    margin-bottom: 10%;
  }
}
