.services-landing-container {
  text-align: center;
  background-color: #69b0bc;
}
.services-landing-container button {
  background: #cf5695;
  border: none;
  color: white;
  height: 50px;
  width: 260px;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 10%;
}

.services-landing-container button:hover {
  background-color: #b1467e;
}

@media only screen and (max-width: 660px) {
  .services-landing-container button {
    height: 30px;
    width: 180px;
    font-size: 1em;
  }
}
