.welcome {
  margin: auto;
  text-align: center;
  padding: 10px;
  height: 240px;
  background: grey;
  vertical-align: middle;
  color: white;
}

.appointment-button {
  background: black;
  border: none;
  color: white;
}

.services {
  margin: auto;
  color: grey;
  text-align: center;
  width: 600px;
}

.services-button {
  background: black;
  border: none;
  color: white;
}
