.bio-wrapper {
  background: #4b7c9c;
  color: white;
  width: 100%;
}

.bio-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.bio-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.bio-column img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media only screen and (max-width: 1650px) {
  .bio-row {
    flex-direction: column;
    height: auto;
  }
}

.bio-column:nth-child(1) {
  background-color: #b3c3c0;
  justify-content: flex-end;
}

.bio-column:nth-child(2) {
  padding: 5%;
  margin-bottom: 5%;
}

.bio-column-txt {
  height: auto;
  text-align: left;
  word-wrap: break-word;
}

.bio-column-txt h1 {
  font-size: 3em;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
}

.bio-column-txt p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.35em;
  line-height: 1.75em;
}

.bio-column-btn {
  text-align: center;
  padding: 0;
}

.bio-column-btn button {
  background: #69b0bc;
  border: none;
  color: white;
  font-size: 1.35em;
  height: 80px;
  width: 300px;
  text-align: center;
  margin-top: 5%;
}
.bio-column-btn button :hover {
  background-color: #1793a8;
  outline: none;
}

@media only screen and (max-width: 660px) {
  .bio-column-btn button {
    height: 30px;
    width: 180px;
    font-size: 0.8em;
  }
  .bio-column-txt h1 {
    font-size: 1.75em;
  }

  .bio-column-txt p {
    font-size: 1em;
  }
}
