.intro-bio {
  background: #4b7c9c;
  color: white;
  text-align: center;
  width: 100%;
}
/* @media only screen and (max-width: 970px) {
  .intro-bio {
    flex-direction: column;
  }
} */

.intro-bio-row {
  display: flex;
  flex-wrap: wrap;
}

.intro-bio-column {
  flex: 50%;
}
.intro-bio-img {
  background-color: #b5c4bf;
}
.intro-bio-img img {
  vertical-align: middle;
  width: 100%;
}

.intro-bio-copy {
  text-align: center;
  word-wrap: break-word;
  padding: 5%;
}

.intro-bio-copy h1 {
  font-size: 3em;
  font-family: "Red Hat Text", sans-serif;
}

.intro-bio-copy p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.35em;
  line-height: 1.75em;
}
.intro-bio button {
  background: #69b0bc;
  border: none;
  color: white;
  font-size: 1.35em;
  height: 80px;
  width: 300px;
  cursor: pointer;
}

.intro-bio button:hover {
  background-color: #1793a8;
  outline: none;
}

@media only screen and (max-width: 660px) {
  .intro-bio button {
    height: 30px;
    width: 180px;
    font-size: 0.8em;
  }
  .intro-bio-copy h1 {
    font-size: 1.75em;
  }

  .intro-bio-copy p {
    font-size: 1em;
  }
}
