.about-header {
  height: 65vh;
  background-image: url("../../../images/hero_1.0.jpg");

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;

  padding-top: 1%;
  width: 100%;
  height: 380px;
}

@media only screen and (max-width: 660px) {
  .about-header {
    height: 20vh;
  }
}

.about-header-txt h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 6em;
  line-height: 0.8em;
  margin-top: 100px;
  margin-left: 5%;
}

@media only screen and (max-width: 1024px) and (min-width: 661px) {
  .about-header-txt h1 {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 660px) {
  .about-header-txt h1 {
    font-size: 1.75em;
    margin-top: 50px;
  }
}
.about-header-txt span:nth-child(1) {
  color: #4b7c9c;
}

.about-header-txt span:nth-child(3) {
  color: #cf5695;
}

.our-office-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

@media only screen and (max-width: 660px) {
  .our-office-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}

.our-office-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  color: #69b0bc;
}

.our-office-copy {
  text-align: left;
  width: 100%;
  padding: 10% 10% 0% 10%;
}

.our-office-copy h1 {
  font-family: "Red Hat Text", sans-serif;
  font-weight: normal;
  font-size: 3em;
}

.our-office-copy p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.35em;
  line-height: 1.75em;
}

@media only screen and (max-width: 660px) {
  .our-office-copy h1 {
    font-size: 1.75em;
  }

  .our-office-copy p {
    font-size: 1em;
  }
}

.our-office-col {
  text-align: right;
}
.our-office-img img {
  width: 70%;
  padding: 10%;
}
@media only screen and (max-width: 1025px) and (min-width: 661px) {
  .our-office-img img {
    width: 100%;
  }
}
@media only screen and (max-width: 660px) {
  .our-office-img img {
    width: 100%;
  }
}

.about-approach {
  color: #69b0bc;
  padding-bottom: 40px;
  background-color: #fafafa;
}

.about-approach-copy {
  text-align: left;
  padding: 5%;
}

.about-approach-copy h1 {
  font-family: "Red Hat Text", sans-serif;
  font-weight: normal;
  font-size: 3em;
}

.about-approach-copy p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.35em;
  line-height: 1.75em;
}
@media only screen and (max-width: 660px) {
  .about-approach-copy {
    padding: 10%;
  }
  .about-approach-copy h1 {
    font-size: 1.75em;
  }

  .about-approach-copy p {
    font-size: 1em;
  }
}

.about-approach-btn {
  text-align: center;
}
.about-approach-btn button {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.35em;
  color: white;
  background: #1fb0c8;
  border: none;
  height: 80px;
  width: 300px;
  cursor: pointer;
  border-radius: 5px;
}

.about-approach-btn button:hover {
  background-color: #1793a8;
}

.about-quote {
  text-align: center;
  background-color: #69b0bc;
  color: white;
  padding: 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.35em;
  line-height: 1.75em;
}

@media only screen and (max-width: 660px) {
  .about-quote {
    font-size: 1em;
  }
  .about-approach-btn button {
    height: 30px;
    width: 180px;
    font-size: 0.8em;
  }
}
