.footer-container {
  height: 500px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #4b7c9c;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  width: 100vw;
  padding: 0;
  list-style-type: none;
}

@media only screen and (max-width: 750px) {
  .footer-container {
    flex-direction: column;
    height: 800px;
  }
}

.footer-container ul {
  list-style-type: none;
  padding: 10px;
}

.hours h3 {
  margin: 0;
}

.contact h3 {
  margin: 0;
}

.gmap iframe {
  margin: 0;
  padding: 0;
}
