.footer-container {
  height: 550px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #4b7c9c;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  width: 100vw;
  padding: 0;
  list-style-type: none;
}

.footer-text {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

@media only screen and (max-width: 750px) {
  .footer-container {
    flex-direction: column;
    height: 600px;
  }

  .footer-text {
    flex-direction: column;
  }
}

.footer-container ul {
  list-style-type: none;
  padding-right: 10px;
  font-family: "Red Hat Display", sans-serif;
}

.footer-container li {
  font-family: "Montserrat", sans-serif;
}

.hours li:nth-child(1) {
  font-size: 1.5em;
}

.contact li:nth-child(1) {
  font-size: 1.5em;
}

.contact li:nth-child(5) {
  font-weight: 600;
}

.gmap iframe {
  margin: 0;
  padding-left: 30px;
  height: 300px;
  width: 600px;
}

@media only screen and (max-width: 750px) {
  .gmap iframe {
    padding-top: 20px;
    height: 150px;
    width: 300px;
  }
}
