.footer-container {
  height: 500px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
  border: black;
  width: 100vw;
  padding: 0;
}

.footer-container > div {
  padding: 5px;
}

.gmap iframe {
  margin: 0;
  padding: 0;
}
