.welcome-container {
  background-image: url("../../../images/hero_0.0.jpg");

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;

  padding-top: 1%;
  padding-bottom: 10%;
  max-width: 100%;
  height: 550px;
}

@media only screen and (max-width: 660px) {
  .welcome-container {
    height: 30vh;
  }
}

.welcome-greeting {
  display: block;
  flex-direction: column;
  align-items: left;
  margin: 4rem 0 0 4rem;
}

@media only screen and (max-width: 660px) {
  .welcome-greeting {
    margin: 2rem 0 0 2rem;
  }
}
.welcome-greeting h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 8em;
  line-height: 0.8em;
}

@media only screen and (max-width: 660px) {
  .welcome-greeting h1 {
    font-size: 2.5em;
  }
}

.welcome-greeting span:nth-child(1) {
  color: #4b7c9c;
}

.welcome-greeting span:nth-child(3) {
  color: #1fb0c8;
}

.welcome-greeting span:nth-child(5) {
  color: #cf5695;
}

.welcome-appt-btn {
  font-family: "Montserrat", sans-serif;
  color: white;
  background: #1fb0c8;
  border: none;
  font-size: 1.35em;
  height: 80px;
  width: 300px;
  margin-top: 20px;
  cursor: pointer;
}

.welcome-appt-btn:hover {
  background-color: #1793a8;
}

@media only screen and (max-width: 660px) {
  .welcome-appt-btn {
    height: 30px;
    width: 200px;
    font-size: 0.8em;
  }
}
