.appointment-container {
  background-color: #69b0bc;
}
.appointment-container img {
  height: 370px;
  width: 100%;
}
.appointment-form {
  max-width: 500px;
  margin: auto;
  padding: 15px;
  border: none;
  color: white;
  font-family: "Montserrat Semibold";
}

.appointment-form h1 {
  font-family: "Red Hat Text", sans-serif;
}

.appointment-form .appointment-btn {
  background-color: #cf5695;
  border: #cf5695;
}

.appointment-form .appointment-btn:hover {
  background-color: grey;
  border: grey;
}
