.appointment-container {
  background-color: #69b0bc;
}
.appointment-header {
  background-image: url("../../../images/hero_3.0.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;

  padding-top: 1%;
  height: 380px;
  width: 100%;
}

@media only screen and (max-width: 660px) {
  .appointment-header {
    height: 20vh;
  }
}

.appointment-header-txt h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 6em;
  line-height: 0.8em;
  margin-top: 100px;
  margin-left: 5%;
}

@media only screen and (max-width: 660px) {
  .appointment-header-txt h1 {
    font-size: 1.5em;
    margin-top: 50px;
  }
}
.appointment-header span:nth-child(1) {
  color: #cf5695;
}

.appointment-header span:nth-child(3) {
  color: #4b7c9c;
}

.appointment-form {
  width: 650px;
  margin: auto;
  padding: 15px;
  border: none;
  color: white;
  font-family: "Montserrat Semibold";
}

@media only screen and (max-width: 660px) {
  .appointment-form {
    width: 100%;
    padding: 10%;
  }
}

.appointment-form h1 {
  font-family: "Red Hat Text", sans-serif;
}

.appointment-form .appointment-btn {
  background-color: #cf5695;
  border: #cf5695;
}

.appointment-form .appointment-btn:hover {
  background-color: #b1467e;
  border: #b1467e;
}
